.workspace-leaf-content[data-type="sketch-whiteboard-view"] {
    padding: 0;
}

.sketch-board {
    position: relative;
    width: 100%;
    height: 100%;
}

.sketch-layer {
    position: absolute;
    inset: 0;
}

.sketch-toolbar {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 8px;
    padding: 6px;
    border-bottom: 1px solid var(--background-modifier-border);
}

.sketch-toolbar input[type="range"] {
    width: 100px;
}