.workspace-leaf-content[data-type="sketch-whiteboard-view"] {
    padding: 0;
}

.sketch-board {
    position: relative;
    width: 100%;
    height: 100%;
}

.sketch-layer {
    position: absolute;
    inset: 0;
}